MONGO_URI="mongodb+srv://Anindita:Anin%402004@cluster0.ptpekex.mongodb.net/taxassistant"
JWT_SECRET="hkahlfjhalfhal;sdf"
PORT=3001

GEMINI_API_KEY="AQ.Ab8RN6LesW-uXcORD18Wn3ZFGcUwHdr1DzLRGPTK-oqOwNFPWw"

CLOUDINARY_CLOUD_NAME="dkcr0fv4x"
CLOUDINARY_API_KEY=194638389236493
CLOUDINARY_API_SECRET="S8mc_4eoE1AGm_Hm1Bt9nJJ8-kY" 

GOOGLE_CLIENT_ID=738094109547-2d12r82354ublbijv0a5t179pd9rdv65.apps.googleusercontent.com

JWT_SECRET=abracadabrabimbimbambampookooproof

MSG91_AUTH_KEY="533890Arhx6EEiq6a32fabcP1"
VITE_MSG91_WIDGET_ID="3666716e6e41373838353433"
VITE_MSG91_TOKEN_AUTH="533890TlsXzhv4Db6a32c832P1"